<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <upsship>
                <active>1</active>
                <model>SR\UpsShip\Model\Carrier\UpsShip</model>
                <title>PickUP Ship</title>
                <name>PickUP Ship</name>
                <price>10.00</price>
                <!--<sallowspecific>1</sallowspecific>-->
                <!--<specificcountry>IL</specificcountry>-->
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <use_tablerate>0</use_tablerate>
                <subtract_amount>3</subtract_amount>
                <pickup_location_type>all</pickup_location_type>
            </upsship>
        </carriers>
        <upsship>
            <general>
                <is_live_mode>0</is_live_mode>
                <service_domain_prefix_live>https://www.ship.co.il/</service_domain_prefix_live>
                <service_domain_prefix_dev>https://beta.ship.co.il/</service_domain_prefix_dev>
                <!--<login></login>-->
                <!--<customer_number></customer_number>-->
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </general>
        </upsship>
    </default>
</config>