<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Studio Raz. All rights reserved.
 * For more information contact us at dev@studioraz.co.il
 * See COPYING_STUIDRAZ.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="SR\UpsShip\Logger\UpsShip">
        <arguments>
            <argument name="name" xsi:type="string">upsship_logger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">SR\UpsShip\Logger\Handler\UpsShip</item>
            </argument>
        </arguments>
    </type>
</config>