//
//  Variables
//  _____________________________________________

@block_background-color: @color-white-smoke;
@ups-green: #8ec840;
@ups-blue: #25408f;


//
//    Common
//--------------------------------------
& when (@media-common = true)  {

  .pickup-block {
    max-width:500px;
    &:extend(.abs-add-clearfix all);
  }

  .ups-pickups-info-2, #pickups-picker {
    height: 100px;
    border: 1px solid @ups-green;
    float: left;
    box-sizing: border-box;
  }

  #pickups-picker {
    -webkit-background-size:cover;
    background-size:cover;
    width: 145px;
  }

  .ups-pickups-info-2 {
    width: auto;
    color: @ups-blue;
    padding: 20px;
  }

  .pickups-info {
    //background-color: @block_background-color;
    //padding:10px;
    //margin-left:10px;
  }
}

//
//    Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}


//
//    Mobile @screen__m 768px and under
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//    Mobile @screen__xs 480px and under
//--------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {

}